.Rproj.user
.Rhistory
.RData
.Ruserdata
data/
FHIweb/data
npp2015.tif
MOD17A3.A2014365.h09v05.305.2015092093113.hdf
rfvPB.dbf
rfvPB.prj
rfvPB.shp
rfvPB.shx
rfvPB.zip
coloradoPops.shp.WTRAVIS_WWA.4072.7928.sr.lock
coloradoUtils.tif
