.Rproj.user
.Rhistory
.RData
.Ruserdata
npp2015.tif
FHIweb/data
data/
MOD17A3.A2014365.h09v05.305.2015092093113.hdf
rfvPB.dbf
rfvPB.prj
rfvPB.shp
rfvPB.shx
rfvPB.zip
coloradoPops.shp.WTRAVIS_WWA.4072.7928.sr.lock
coloradoUtils.tif
nppCalc.tif
2001113.tif
2007113Merge.tif
2007113repro.tif
2007NPPCalc.tif
MOD17A2H.A2001121.h10v03.006.2015144095322.hdf
ercObs.RData
myData.RData
npp2015.tfw
npp2015.tif.aux.xml
npp2015.tif.ovr
npp2015.tif.xml
nppAnn.RData
temp.csv
temp2.csv
temp2.jpg
temp3.hdf
usgsparams.csv
data.zip
